//- doctype html
//- html
//-   body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;')
//-     header.text-center(style='padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;')
//-       .logo(style='max-width: 33.33%;')
//-         img(src='#{logo}')
//-     .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
//-       h1(style='font-family: Palatino;font-size: 1.5em;') Hi, #{name}
//-       p(style="color: #34495E;")
//-         | Your email has been verified. We can now send you a link to reset your password if you ever need it.


doctype html
html(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
  head(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
    title(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
    | 	
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8", style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
    | 	
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no", style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
    // CSS
    style(type="text/css", style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;").
      * {
      padding: 0;
      margin: 0;
      font-family: Sans-Serif;
      font-weight: 100;
      color: #000000;
      font-size: 17px
      }
      body {
      background: #FFFFFF
      }
      a.button {
      padding-left: 0px ;
      padding-bottom:10px;
      padding-top:10px;
      border-radius: 5px  !important;
      border-width: 1px  !important;
      font-size: 20px;
      }
      .m-b-sm {
      margin-bottom: 15px
      }
      .m-b-lg {
      margin-bottom: 100px
      }
      .regular {
      font-weight: 400
      }
      .title {
      font-weight: 400;
      margin-bottom: 10px
      }
      .wrapper {
      width: 30%;
      height: auto;
      background: #FFFFFF;
      margin: 30px auto;
      margin-bottom: 0;
      border-radius: 8px;
      padding-right: 2%;
      padding-left: 2%;
      padding-bottom: 30px
      }
      @media (min-width: 320px) and (max-width: 1023px) {
      .wrapper {
      width: 90% !important;
      margin-top: 0 !important;
      padding-left: 5% !important;
      padding-right: 5% !important;
      border-radius: 0 !important
      }
      }
      .wrapper .header {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: right
      }
      @media (min-width: 320px) and (max-width: 1023px) {
      .wrapper .header {
      text-align: center !important
      }
      }
      .wrapper .header img {
      width: 52px
      }
      .wrapper .hr {
      border: solid 1px #f0f0f0;
      margin-bottom: 30px;
      border-bottom: 0
      }
      .wrapper .hr2 {
      border: solid 1px #f0f0f0;
      margin-top: 30px;
      border-bottom: 0
      }
      .wrapper ul {
      padding: 20px
      }
      .wrapper ul li {
      list-style: none;
      line-height: 27px
      }
      .wrapper p {
      line-height: 27px
      }
      .wrapper .button {
      margin-bottom: 30px;
      margin-top: 30px
      }
      .button {
      padding: 10px;
      }
      .wrapper .button img {
      cursor: pointer;
      margin-right: 10px;
      width: 131px
      }
      .screen-images {
      width: 100%;
      margin-bottom: 30px
      }
      .screen-images img {
      width: 32%
      }
      .footer {
      width: 34%;
      height: 100px;
      background: none;
      margin: 0 auto;
      margin-bottom: 50px;
      color: #999999;
      text-align: center;
      font-size: 13px;
      font-weight: 400;
      line-height: 19px;
      padding-top: 20px
      }
      @media (min-width: 320px) and (max-width: 1023px) {
      .footer {
      width: 80% !important;
      margin-bottom: 0
      }
      }
      .footer p {
      font-size: 13px
      }
      .footer tr {
      margin: 0 auto
      }
      .footer img {
      width: 44px;
      cursor: pointer
      }
      .footer img:nth-of-type(1) {
      margin-left: 10px;
      margin-right: 10px
      }
  body(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;background: #FFFFFF;")
    .wrapper(style="padding: 0;margin: 30px auto;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;width: 30%;height: auto;background: #FFFFFF;margin-bottom: 0;border-radius: 8px;padding-right: 2%;padding-left: 2%;padding-bottom: 30px;")
      .header(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;width: 100%;padding-top: 20px;padding-bottom: 20px;text-align: right;")
        table(style="display: inline-table;padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
          tr(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
            a(href="http://tamecorruption.org", style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
              img(src="https://s3-us-west-2.amazonaws.com/mustardlabs/tame/logo.png", style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;width: 52px;")
      | 		
      hr.hr(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;border: solid 1px #f0f0f0;margin-bottom: 30px;border-bottom: 0;")
      | 		
      div(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
        p.m-b-sm(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;margin-bottom: 15px;line-height: 27px;") Hi {{firstname}},
        | 			
        p.m-b-sm(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;margin-bottom: 15px;line-height: 27px;")
          | Your email has been verified. We can now send you a link to reset your password if you ever need it.
        | 			
        p
          a.button(href="") Login to Start Rating
        | 			
        | 		
        | 	
        | 		   
        | 			
        p(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 400;color: #000000;font-size: 17px;line-height: 27px;") Have any questions?
        | 			
        p.m-b-sm(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;margin-bottom: 15px;line-height: 27px;") Simply reply to this email and we will be in touch.
        | 			
        p(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;line-height: 27px;") Cheers,
        | 			
        p(style="padding: 0;margin: 0;font-family: Sans-Ser\
        if;font-weight: 100;color: #000000;font-size: 17px;line-height: 27px;") Your friends at TAME
      | 		
      hr.hr2(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;border: solid 1px #f0f0f0;margin-top: 30px;border-bottom: 0;")
    | 	
    .footer(style="padding: 0;margin: 0 auto;font-family: Sans-Serif;font-weight: 400;color: #999999;font-size: 13px;width: 50%;height: 100px;background: none;margin-bottom: 50px;text-align: center;line-height: 19px;padding-top: 20px;")
      table(style="display: inline-table;padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
        tr(style="padding: 0;margin: 0 auto;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
          td(style="width: 15px;padding: 0;margin-right: 20px;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;margin: 0;")
            a(href="http://facebook.com/tamecorruption", style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
              img(src="https://s3-us-west-2.amazonaws.com/mustardlabs/intelli/facebook-white.png", style="padding: 0;margin-right: 20px;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;width: 15px;cursor: pointer;margin: 0;")
          | 				
          td(style="width: 20px;padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
            a(href="http://twitter.com/tamecorruption", style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;")
              img(src="https://s3-us-west-2.amazonaws.com/mustardlabs/intelli/twitter-white.png", style="padding: 0;margin: 0; margin-left: 20px;font-family: Sans-Serif;font-weight: 100;color: #000000;font-size: 17px;width: 30px;cursor: pointer;")
      | 		
      p(style="padding: 0;margin: 0;font-family: Sans-Serif;font-weight: 100;color: #999999;font-size: 13px;") Integrity Nigeria.
